doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='index.css')

    title CV
  body
    .content
      .sidenote
        .sidenote__name Екатерина Петрусевич
        .sidenote__content
          | JavaScript-разработчик<br/>
          | cate.petrusevich@gmail.com<br/>
          | +375 33 633-96-67<br/>
        img.sidenote__image(src='me-and-gloves.jpg')

      .section
        .section__heading Обо мне
        .section__content
          | Родилась и живу в Минске.
          | Люблю путешествовать и общаться с новыми людьми.

      .section
        .section__heading Образование
        .section__content.ulist
          .ulist__item БГУИР 2009&ndash;2014
          .ulist__item ФКСиС &#8222;Информатика&#8220;
          .ulist__item Дипломный проект: &#8222;Инструментарий для сервисно-ориентированной разработки&#8220;

      .section
        .section__heading Опыт работы
        .section__content.companies
          .companies__item
            .companies__name GST Global Soft
            .ulist
              .ulist__item Участвовала в разработке ERP-системы Matrix
              .ulist__item Разработала компоненты для оплаты услуг и страхования пациентов
              .ulist__item Координировала процесс разработки
              .ulist__item Внедрила GitHub Flow
              .ulist__item Администрировала вспомагательное ПО — Atlassian JIRA и Stash

      .section
        .section__heading Навыки
        .section__content.skills
          .skills__item
            .skills__name JavaScript &mdash; новичок
            .skills__description
              | Разрабатываю при помощи Express и Angular, тестирую на Jasmine
          .skills__item
            .skills__name HTML &mdash; новичок
            .skills__description
              | Пользовалась WebRTC, Canvas и Drag & Drop API
          .skills__item
            .skills__name CSS &mdash; новичок
            .skills__description
              | Знаю, что такое специфичность селекторов и media queries.
              | Активно изучаю Flexbox, использую Stylus и пытаюсь практиковать БЭМ
          .skills__item
            .skills__name Docker &mdash; новичок
            .skills__description
              | Владею Docker и Docker Compose. Могу паковать разрабатываемые приложения
              | в контейнеры. Могу не паковать. Могу показать другим, как паковать :)
          .skills__item
            .skills__name .NET &mdash; бывалый
            .skills__description
              | В течение двух лет разрабатывала настольные
              | .NET приложения при помощи WinForms, C# и Entity Framework

      .section
        .section__heading Ожидания от ШРИ
        .section__content.ulist
          .ulist__item Рассматриваю курсы как возможность попасть на работу в Яндекс
          .ulist__item Ожидаю расширить свой инженерный кругозор
          .ulist__item Хочу вникнуть в организацию процессов веб-разработки в крупной компании
          .ulist__item Надеюсь попробовать свои силы в новой для меня области

      .signature
        | &mdash; Екатерина Петрусевич для ШРИ
