@import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,cyrillic')

body
  background-color: #fff
  color: #000
  font-family: Lora, serif
  font-size: 12pt
  line-height: 150%
  max-width: 1000px
  margin: 0 auto


.section__heading
  border-top: 2px solid #000
  font-size: 1.2rem
  font-weight: 600
  padding: 8px 0

.skills__name
  font-weight: 600
  margin: 1rem 0 0 0

.skills__item
  margin: 0 1rem 0 0
