@import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,cyrillic')

$min-width = 140px
$max-width = 1000px
$min-font = 14px
$max-font = 20px

html
  // Borrowed from https://github.com/corysimmons/typographic/blob/master/stylus/typographic.styl
  @media (min-width: $min-width)
    font-size: s('calc( %s + (%s - %s) * ((100vw - %s) / (%s - %s)) )', $min-font, remove-unit($max-font), remove-unit($min-font), $min-width, remove-unit($max-width), remove-unit($min-width))
  @media (min-width: $max-width)
    font-size: $max-font

body
  background-color: #fff
  color: #000
  font-family: Lora, serif
  line-height: 150%
  max-width: 1000px
  margin: 0 auto

.ulist
  padding-left: 1.1rem

.ulist__item
  display: list-item

.section
  margin-bottom: 1.5rem

.section__heading
  border-top: 2px solid #000
  font-size: 1.2rem
  font-weight: 600
  padding: 8px 0

.companies__name
  font-weight: 600

.skills
  display: flex
  flex-direction: row
  flex-wrap: wrap

.skills__item
  flex-basis: 50%

.skills__name
  font-weight: 600
  padding: 4px 0

.skills__description
  padding-right: 1.5rem
  margin-bottom: 8px

.signature
  display: flex
  justify-content: flex-end
